// Fonts.scss
@import  './fonts';
// functional scss
@import './functional';
// Common Scss file
@import './common';

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    @media(max-width: 767px) {
        height: 60vh;
    }
    &::after{
        content: '';
        position: absolute;
        top: 0%;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.103);
    }
    .video_container{
        position: relative;
        width: 100%;
        height: 100%;
        video{
            width: 100%;
            height: 100vh;
            object-fit: cover;
          @media(max-width: 767px) {
              height: 60vh;
          }
        }
    }
    nav{
        background: transparent;
        position: absolute !important;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;  
        @media(max-width: 767px) {
            background-color: #fff;
           
        }
        .navbar-brand{
            img{
                width: 180px;
            }
        }
    }
    .bnnr_content{
        position: absolute;
        z-index: 1;
        .title{
            text-align: center;
            color: #fff;
            text-transform: capitalize;
            font-size: 35px;
            line-height: 49px;
            @media(max-width: 767px) {
                font-size: 19px;
                line-height: 26.6px;
            }
        }
    }

}

section{
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    margin: auto;
    @media(max-width: 767px) {
        min-height: 55vh;
        padding: 60px 0px;
    }
    &#about{
        background: url('../imges/bg/abt_bg.jpg') center center/cover no-repeat;
        @media(max-width: 575px) {
            background-position: revert;
        }
        .container{

            .section_title{
                font-size: 45px;
                line-height: 45px;
                color: #fff;
                font-weight: 600;
                @media(max-width: 380px) {
                    font-size: 36px;
                    line-height: 46px;
                }
            }
            .txt{
                color: #fff;
                font-size: 15px;
                line-height: 27px;
                font-weight: 400;
                @media(max-width:767px) {
                    font-size: 14px;
                    line-height: 19.6px;
                }
            }
        }
       
    }
    &#customer{
        background: #FE92CC;
        background: -webkit-linear-gradient(bottom, #FE92CC, #F768AD);
        background: -moz-linear-gradient(bottom, #FE92CC, #F768AD);
        background: linear-gradient(to top, #FE92CC, #F768AD);
        background-size: cover;
        background-position: center;


        @media(max-width: 575px) {
            // background-position: -525px 0px;
        }
        @media(max-width: 480px) {
            // background-position: -360px 0px;
        }
        @media(max-width: 360px) {
            // background-position: -525px 0px;
        }
        .bg-move{
            position: absolute;
            top: 0;
            bottom: 0;
           left: auto;
            width: 100%;
            background: url('../imges/bg_1.png') no-repeat;
            background-size: cover;
            background-position: center;
            @media(max-width: 768px) {
                background-size: 120%;
                background-position: bottom;
            }
        }
        .container{
            h2{
                font-size: 45px;
                color: #fff;
                line-height: 67.5px;
                @media(max-width: 767px) {
                    font-size: 25px;
                    line-height: 27.5px;
                }
            }
        }
       
    }
    &#service{

        position: relative;
        background: url('../imges/bg/service_bg.jpg') center center/cover no-repeat;
        overflow: hidden;
        @media(max-width: 767px) {
            height: 100vh;
        }
        @media(max-width: 575px) {
            height: 120vh;
        }
        &::after{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.37);
            z-index: 1;
        }
        .container{
            z-index: 2;
            .service_content{
                @media(min-width: 992px) {
                    display: grid;
                    justify-items: center;
                    gap: 20px;
                    grid-template-columns: repeat(3,1fr);
                    grid-template-areas: 
                    "box_1 title box_2"
                    "box_3 title box_4";
    
                    .box-1{
                        grid-area: box_1;
                    }
                    .box-2{
                        grid-area: box_2;
                    }
                    .section_title{
                        grid-area: title;
                        align-self: center;
                        p{
                            font-size: 41px;
                            line-height: 53.3px;
                            font-weight: 400;
                            color: #fff;
                        }
                    }
                    .box-3{
                        grid-area: box_3;
                    }
                    .box-4{
                        grid-area: box_4;
                    }
    
                    .box{
                        text-align: center;
    
                        .icon{
                             display: flex;
                             align-items: center;
                             justify-content: center;
                             width: 45px;
                             height: 45px;
                             margin: auto;
                             margin-bottom: 16px;
                            border: 2px solid #fff;
                            transition: all .2s linear;
                            &:hover{
                                transform: scale(1.1);
                            }
                        }
                        .title{
                            font-weight: 600;
                            font-size: 24px;
                            line-height:28.8px ;
                        }
                        .text{
                            font-size: 13px !important;
                            line-height: 23.4px !important;
                               
                        }
                    }
                }
            }
        }
       
    }
    &#clients{
      
       .container{
           .client_slider{
               padding: 60px 0px;
               img{
                   min-width: 55px;
                   height: 55px;
                   margin: auto;
               }
           }
       }
    }
    &#contact{
        background: #F9B5B6;
        background: -webkit-linear-gradient(top, #F9B5B6, #FBABA9);
        background: -moz-linear-gradient(top, #F9B5B6, #FBABA9);
        background: linear-gradient(to bottom, #F9B5B6, #FBABA9);
        background-size: cover;
        background-position: center;

        .bg-move{
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            background: url('../imges/bg_2.png') no-repeat;
            background-size: cover;
            background-position: center;
            @media (max-width: 768px) {
                background: url('../imges/bg_2_md.png') no-repeat;
                left: 0px !important;
            }
        }


        form{
            padding: 26px 0px;
            .form-group {
                input{
                    padding: 30px 20px;
                    &:active{
                        outline: none !important;
                    }

                    &::placeholder {
                        font-size: 12px;
                        color: #54595f;
                    }
                }
                textarea{
                    padding: 22px 20px;
                }
                textarea::placeholder {
                    font-size: 12px;
                    border: none !important;
                    color: #54595f;
                }
                .Btns{
                    @media(max-width: 767px) {
                        width: 100%;
                    }
                }
            }
        }
    }
}



@media(max-width: 991px) {
    #service{
      
       .container {

        .service_content{
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
            gap: 20px;
            text-align: center;
            .section_title{
                display: none;
            }

                
            .box{
                text-align: center;

                .icon{
                    border: 2px solid #fff;
                    padding: 10px;
                    width: 15%;
                    padding: 20px 0px;
                    margin: auto;
                    margin-bottom: 15px;
                    transition: all .2s linear;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
                .title{
                    font-weight: 600;
                    font-size: 24px;
                    line-height:28.8px;
                }
                .text{
                    font-size: 13px;
                    line-height: 23.4px;

                }
            }
        }
       }
    }
}
@media(max-width: 767px) {
    #service{
      
       .container {

        .service_content{
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
            gap: 20px;
            text-align: center;
            .section_title{
                display: none;
            }

                
            .box{
                text-align: center;

                .icon{
                    border: 2px solid #fff;
                    padding: 10px;
                    width: 15%;
                    padding: 20px 0px;
                    margin: auto;
                    margin-bottom: 15px;
                    transition: all .2s linear;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
                .title{
                    line-height:0px;
                    padding: 18px 0px;
                }
                .text{
                    font-size: 12px;
                    line-height: 18px;

                }
            }
        }
       }
    }
}